{% extends "layout.html" %}

{% block body %}
<h3>Makale Oluştur</h3>
<hr>

{% from "includes/formhelpers.html" import render_field %}

<form method = "post">
        {{ render_field(form.title,class = "form-control") }}
        {{ render_field(form.content,class ="form-control") }}
        {{ render_field(form.start_date,class = "form-control") }}
        {{ render_field(form.end_date,class ="form-control") }}
        {{ render_field(form.category,class = "form-control") }}
        {{ render_field(form.start_price,class ="form-control") }}
        {{ render_field(form.offered_price class = "form-control") }}
        {{ render_field(form.deleted,class ="form-control") }}
        
    <button type="submit" class="btn btn-danger">İhale Ekle</button>
</form>

{% endblock body %}